@use 'global';

.Contacts {
    height: 100%;
    width: 100%;
    animation: appear 1s ease;
    padding: 20px;

    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
        width: 80%;
        text-align: center;
    }

    .info {
        width: 90%;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .form {
            display: flex;
            flex-direction: column;



            &>input {
                all: unset;
                border: 1px solid #0060AA;
                color: #0060AA;
                padding: 10px;
                margin-top: 20px;

            }

            .longMessage {
                all: unset;
                text-align: start;
                height: 200px;
                border: 1px solid #0060AA;
                color: #0060AA;
                padding: 10px;
                margin-top: 20px;
            }

            button {
                all: unset;
                background-color: #0060AA;
                color: white;
                padding: 10px;
                margin-top: 20px;
                text-align: center;
            }

            .headForm {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                * {
                    all: unset;
                    width: calc(50% - 30px);
                    border: 1px solid #0060AA;
                    color: #0060AA;
                    padding: 10px;
                    margin-top: 20px;

                }
            }




        }

        @media screen and (max-width: 600px) {

            flex-direction: column !important;

            .details {
                margin-top: 40px;
                margin-bottom: 40px;
            }
        }
    }
}